<?xml version="1.0"?>

<robot name="husky_camera" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Link for the camera -->
  <link name="2d_camera_link">
  </link>

  <joint name="camera_joint" type="fixed">
    <origin xyz="-1 0 1" rpy="0 0.2 0" />
    <parent link="base_link" />
    <child link="2d_camera_link" />
  </joint>

  <!-- bumper box -->
  <link name="bumper_box_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://warnie/robot_extras/husky/husky_bumper_box/husky_bumper_box.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://warnie/robot_extras/husky/husky_bumper_box/husky_bumper_box.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="bumper_box_joint" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="bumper_box_link" />
  </joint>

  <!--link name="fov_wall_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://warnie/robot_extras/husky/fov_wall.stl" />
      </geometry>
      <material name="TransparentGrey"/>
    </visual>
  </link>

  <gazebo reference="fov_wall_link">
   <material>Gazebo/TransparentGrey</material>
  </gazebo>

  <joint name="fov_wall_joint" type="fixed">
    <origin xyz="10 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="fov_wall_link" />
  </joint-->

  <!-- camera -->
  <gazebo reference="2d_camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>1400</width>
          <height>1400</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>200</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>2d_camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="pose_logger" filename="libvisual_cue_plugin_model.so">
      <subsamples>50</subsamples>
      <data_path>/home/robert/robosemiotics_study/</data_path>
    </plugin>

    <plugin name="pose_resetter" filename="libvisual_cue_plugin_model_reset.so"/>
  </gazebo>

</robot>
